/* Button Styling */
button {
    width: 100%; /* Make button full width */
    background-color: #ffffff;
    color: black;
    border-radius: 40px;
    font-size: 1rem;
    padding: 10px 20px; /* Adjust padding */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
    border-color: transparent;
    margin-top: 10px; /* Add some space above the button */
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    button {
        padding: 8px 15px; /* Adjust button size */
    }
}

@media (max-width: 480px) {
    button {
        padding: 6px 10px; /* Further adjust for very small screens */
    }
}
